.productos{
    display: flex ;
    flex-direction: row;
    flex-wrap:wrap ;
    padding: 0 30px;
    justify-content: space-between;
    figure{
        width: 20%;
         border: solid blue 1px;
        border-radius: 4px;
        img{
        width: 100%;
        }
        p{
        font-size: 1em;
        line-height: 1.2em;
        margin: 20px 20px 0;
        text-align:left;
        }
    }
    button{
        padding: 10px;
        background-color: yellowgreen;
        margin-bottom: 20px;
        border-radius: 10px;
        color: white;
        border: solid ;
    }

}
.h1-nosotros{
    font-family:'Playfair Display', serif;
    border:solid ;
    display: flex;
    justify-content: center;
    background-color: darkgray;

}